extends layout 
block content

    div.row
        h3 Welcome to the admin interface. What would you like to do?
    div.row
        div.span2
            a.btn.btn-primary.small-button(href="/admin/problem/add/") Add

        div
            p Add a problem not already existing in the database.
    div.row
        br
        div.span2
            a.btn.btn-primary.small-button(href="/admin/problem/edit/") Edit

        div
            p Edit details of a problem (apart from input files and their weights). Automatically recalculates scores once problem is edited.

    div.row
        br
        div.span2
            a.btn.btn-primary.small-button(href="/admin/problem/delete/") Delete

        div
            p Delete a problem. <span style='font-weight:bold'>Do not use if people have already submitted for this problem!</span> Edit the problem to have 0 points instead.

    div.row
        br
        div.span2
            a.btn.btn-primary.small-button(href="/admin/problem/grade/") Grade

        div
            p Assign marks to submissions for manually graded problems.

