extends layout

block content
    h4 Welcome to the Online Judge!
    hr

    p <a href='/register'>Register</a> and login to start solving problems. The current passcode for registering is: <b>donotgivethistoastranger</b>

    p Once you login, you can submit codes for problems in <b>C</b> or <b>C++</b>. The compilers used for judging are <b>gcc</b> and <b>g++</b> respectively.

    p <b>Linux</b>, or <b>Dev C++</b> on <b>Windows</b> may be useful for writing programs that compile on this judge.

    p Click <a href='/hello_world_c.txt'>here</a> and <a href='/hello_world_cpp.txt'>here</a> to view sample hello world programs in these two languages.

    p There are two kinds of problems on this judge: while some are graded automatically by comparing the output of your program to the expected output for a set of test cases, others are graded manually. The manual grader is a human and can see all your submissions to a problem, so you may submit code multiple times. Note that only your last submission is taken into account while evaluating automatically graded problems.

    p Good luck!
    hr
