extends layout

block content
    h4 Welcome to the Online Judge! Register and login to start solving problems!

//doctype 5
//html
//  head
//    meta(charset='utf-8')
//    meta(name='viewport', content="width=device-width, initial-scale=1.0")
//    title Online Judge
//    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
//    link(rel='stylesheet', href='/stylesheets/custom.css')
//
//  body
//    div.navbar.navbar-inverse.navbar-fixed-top
//        div.navbar-inner
//            a.brand(href='#') Online Judge
//
//            ul.nav
//                li
//                    a(href='#') Home
//                li
//                    a(href='#') FAQ
//                li
//                    a(href='#') Problems
//                li
//                    a(href='#') Queue
//                li
//                    a(href='#') Standings
//                li
//                    a(href='#') Profile
//                li
//                    a(href='#') Submissions
//                li
//                    a(href='#') Login
//                    
//    div.container
//
//        div.row
//            div.span4
//                p First
//            div.span4
//                p Second
//            div.span4
//                p Third
//
//    script(src='/javascripts/jquery.min.js')
//    script(src='/javascripts/bootstrap.min.js')
